---
import WritingWorkCard from "../components/WritingWorkCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Writing";
const allPosts = await Astro.glob("../pages/writing/*.md");

const allTags = Array.from(
    new Set(
        allPosts
            .flatMap((post) => post.frontmatter.tags || [])
            .map((tag) => tag.toLowerCase()), // optional: normalize case
    ),
).sort();
---

<BaseLayout>
    <h2 class="middle">All Tags</h2>
    <div class="tag-container">
        {
            allTags.map((tag) => (
                <a href={`/tags/${tag}`} class="tag">
                    {tag}
                </a>
            ))
        }
    </div>
    <br />
    <div class="container">
        {
            allPosts.map((post) => {
                return (
                    <WritingWorkCard
                        name={post.frontmatter.title}
                        url={post.url}
                        description={post.frontmatter.description}
                        image={post.frontmatter.image}
                        tags={post.frontmatter.tags}
                    />
                );
            })
        }
    </div>
</BaseLayout>
