---
export interface Props {
    name: string;
    url?: string;
    description: string;
    image: {
        url: string;
        alt?: string;
    };
    tags: string[];
}

const { name, url, description, image, tags } = Astro.props;
---

<div class="about-me-paper rotate-left half cards">
    <a href={url}>
        <img class="image card-image" src={image.url} alt={image.alt ?? ""} />
        <h3>
            {name}
        </h3>
        <span>{description}</span>
        <br />
        <div class="tag-container">
            {
                tags.map((tag: string) => (
                    <a href={`/tags/${tag}`} class="tag">
                        {tag}
                    </a>
                ))
            }
        </div>
    </a>
</div>
